.mainProjects{
    width:100%;
    height:auto;
    position: relative;
    margin-top:-400px;
    background-color: $primary-bg;
    z-index:8;
    padding: $bodyPad;

    h1{
        font-size: 50px;
        color:$primary-color;
        position: absolute;margin-top: -150px;
    }


    .mainProjectsContainer{
        padding: $bodyPad;
        .projectContent{
            display: flex;
            flex-wrap: wrap;
            padding:20px 0;

            h1{
                font-size: 30px;
                color:$primary-color;
                position: static;margin-top: 0px;
            }

            &-desc{
                text-align: justify;
            }

            &-img{
                height: 75vh;
                overflow: hidden;
                width:100%;
                border-radius: 40px;
                position: relative;

                .img-con{
                    height: 100%;
                    &::after{
                        content:'';
                        position:absolute;
                        top:0;
                        left:0;
                        height:100%;
                        width:100%;
                        background:$intrex-bg;
                        opacity:0;
                        transition: .3s ease-in-out;
                    }
    
                    img{
                        width:100%;
                        height:100%;
                        object-fit: fill;
                        transition: ease-in-out .3s;
    
    
    
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
    
                    &:hover{
    
                        img{
                            transform: scale(1.1);
                        }
    
                        &::after{
                            opacity:1;
                        }
                    }
                }


            }


        }
        


    }

    .carousel{
        height: 75vh;
        overflow: hidden;
        width:100%;
        position: relative;
        
        .list{
            &-bg{
                position:absolute;
                inset: 0 0 0 0;
                background:$intrex-bg;
                z-index: 20;
            }
            .item{
                position: absolute;
                inset: 0 0 0 0;
               
                &:nth-child(1){
                    z-index: 10;
                }
                img, video{
                    width:100%;
                    height:100%;
                    object-fit: fill;
                }
            }

        }

        &.next{


            .list{
                .item{
                    &:nth-child(1){
                        img, video{
                            width:150px;
                            height:220px;
                            position: absolute;
                            left:50%;
                            border-radius:20px;
                            animation:showImage 0.5s linear 1 forwards;
                        }
                    }
                }
            }


            .thumbnail{
                transform:translateX(150px);
                animation:transformThumbnail .5s linear 1 forwards;
            
                .item{
                    &:nth-last-child(1){
                        width:0;
                        overflow:hidden;
                        animation: showThumbnail .5s linear 1 forwards;
                    }

                    &:nth-child(2){
                        z-index:15;

                        img, video{
                            position:absolute;
                            bottom:0;
                            left:0;
                            animation:outlarge 0.5 linear 1 forwards;
                        }


                    }

                }
            }

            .arrows{
                button{
                    pointer-events: none;
                }
            }

            .time{
                width:100%;
                animation: timeRunning 2s linear 1 forwards;
            }
        }

        &.prev{
            .thumbnail{
                .item{
                    &:nth-child(1){
                        width:0;
                        overflow:hidden;
                        animation:showThumbnail 0.5s linear 1 forwards;
                    }

                    .list{
                        .item{
                            &:nth-child(2){
                                .button{
                                    animation: contentOut 1.5s linear 1 forwards;
                                    opacity: 0;
                                    filter: blur(20px);                                
                                }

                            }
                        }
                    }
                    
                }
            }

            .arrows{
                button{
                    pointer-events: none;
                }
            }

            .time{
                width:100%;
                animation: timeRunning 2s linear 1 forwards;
            }
        }
    }

    .thumbnail{
        position: absolute;
        bottom:50px;
        right:50px;
        width:max-content;
        z-index:100;
        display: flex;
        gap:20x;

        .item{
            width:150px;
            height:220px;
            flex-shrink: 0;
            position:relative;
            margin:0px 20px;

            img, video{
                width:100%;
                height:100%;
                object-fit:cover;
                border-radius: 20px;
            }
        }


    }

    .arrows{
        position: absolute;
        top:70%;
        right:60%;
        width:400px;
        max-width: 30%;
        display: flex;
        gap:10px;
        align-items: center;

        button{
            width: 80px;
            height:80px;
            border-radius:50%;
            background-color: $hover-color;
            border:none;
            font-family: monospace;
            color:$primary-bg;
            font-weight: bold;
            font-size: 25px;
            transition: .5s;
            z-index: 100;

            &:hover{
                background-color: $primary-bg;
                color:$hover-color;
            }
        }
    }
 
    .time{
        width:100%;
        height:5px;
        background-color: $primary-color;
        position: absolute;
        z-index: 100;
        top:0;
        left:0;
    }
}